<div class='login'>
  <header>
    <h1>Willkommen bei Dycards!</h1>
    <%= image_pack_tag 'logo.svg' %>
  </header>

  <%= form_with url: login_path, local: true do |f| %>

    <div>
      <%= f.text_field :username, placeholder: 'John' %>
      <%= f.label :username %>
    </div>

    <div>
      <%= f.password_field :password, placeholder: '**********' %>
      <%= f.label :password, 'Passwort' %>
    </div>

    <%= submit_tag 'Login', class: 'button primary' %>
    <%= link_to 'Sign Up', signup_path, class: 'button secondary' %>
  <% end %>
</div>
