<div class="stacks-index">
  <header>
    <div>
      <%= image_pack_tag 'logo.svg' %>
      <h1>Dycards</h1>
    </div>
    <div>
      <%= link_to new_stack_path, class: "button circle indigo" do %>
        <%= render partial: 'shared/icons/add' %>
      <% end %>
      <%= link_to stats_index_path, class: "button circle indigo" do %>
        <%= render partial: 'shared/icons/barchart' %>
      <% end %>
      <%= link_to user_path(current_user), class: "button circle indigo" do %>
        <%= render partial: 'shared/icons/user' %>
      <% end %>
    </div>
  </header>

  <main>
    <% if @stacks.any? %>
      <% @stacks.each do |stack| %>
        <div class="card indigo stack">
          <h2><%= stack.title %></h2>
          
          <%= link_to stack, class: "edit-link" do %>
            <%= render partial: 'shared/icons/edit' %>
          <% end %>

          <h3><%= stack.flashcards.count %> <span>Karten</span></h3>

          <% if stack.flashcards.any? %>
            <%= link_to stack_flashcard_path(stack, stack.flashcards.first), class: "play-link button circle white" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p class='no-stacks'>Du hast noch keine Stapel angelegt.</p>
    <% end %>
  </main>
</div>
