<h1><%= @stack.title %></h1>
<%= form_with model: @stack, method: :delete do |f| %>
  <%= f.submit 'Löschen' %>
<% end %>
<% if @flashcards.any? %>
  <% @flashcards.each do |flashcard| %>
    <h2><%= flashcard.question %></h2>
    <%= link_to 'BEARBEITEN', edit_stack_flashcard_path(@stack, flashcard) %>
  <% end %>
<% else %>
  <p>Noch keine Fragen vorhanden.</p>
<% end %>
<%= link_to 'Neue Karte', new_stack_flashcard_path(@stack) %>
