<%= form_with model: current_user, method: :patch do |f|%>
  <div>
    <%= f.text_field :username %>
    <%= f.label :username %>
  </div>

  <div>
    <%= f.password_field :password %>
    <%= f.label :password, 'Altes Passwort' %>
  </div>

  <div>
    <%= f.password_field :new_password %>
    <%= f.label :new_password, 'Neues Passwort' %>
  </div>

  <div>
    <%= f.password_field :new_password_confirmation %>
    <%= f.label :new_password_confirmation, 'Neues Passwort bestätigen' %>
  </div>

  <%= f.submit 'Speichern', data: { disable_with: false }, class: 'button primary' %>
<% end %>
