<div class='profile-screen'>
  <%= render partial: 'shared/header', locals: { title: 'Profil', color: 'indigo' } %>
  <h2>Hallo <%= current_user.username %>!</h2>
  <%= render partial: 'edit' %>
  <%= link_to 'Logout', logout_path %>
  <%= link_to 'Profil löschen', user_path(current_user), method: :delete %>
</div>
