<%= render partial: 'shared/header', locals: { title: 'Statistik' } %>
<p>
  <% if @stats %>
    Du hast bereits <span><%= @stats[:total] %></span> Fragen beantwortet.

    <h2>Fragetypen</h2>
    
    <ul class="stats">
      <li>            
        <div class="stats__border">
          <div style="width: <%= @stats[:open_answer] %>%"></div>
        </div>
         <label>Offene Frage</label>
      </li>
      <li>            
        <div class="stats__border">
          <div style="width: <%= @stats[:multiple_choice] %>%"></div>
        </div>
        <label>Multiple Choice</label>
      </li>
      <li>            
        <div class="stats__border">
          <div style="width: <%= @stats[:single_choice] %>%"></div>
        </div>
        <label>Single Choice</label>
      </li>
      <li>            
        <div class="stats__border">
          <div style="width: <%= @stats[:true_false] %>%"></div>
        </div>
        <label>True/False</label>
      </li>
    </ul>
  <% else %>
    Du hast noch keine Fragen beantwortet :(
  <% end %>
</p>
