<!DOCTYPE html>
<html lang='de'>
  <head>
    <title>Dycards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_pack_tag 'logo.svg' %>

    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <div class='content' spellcheck='false'><%= yield %></div>
  </body>
</html>
